@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

h1 {
  letter-spacing: 0;
  padding: 2rem;
  font-size: 4em;
  background: inherit;
}
h2 {
  font-size: 2em;
  padding: 0 2rem 1rem 2rem;
  letter-spacing: 0;
  background: inherit;
}
#para {
  font-size: 0.8em;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  background: inherit;
}
#box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: #d6d8d6;
  background: inherit;
}
#links {
  font-size: 0.8em;
  padding: 0.5rem 2rem;
  background: inherit;
}

#fun-list {
  font-size: 0.8em;
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  z-index: -99;
  color: gray;
  width: calc(100vw - 4rem);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} 

ul {
  list-style-type: none;
}


body {
  font-family: "JetBrains Mono", "Fira Code", Monaco, Consolas, "Ubuntu Mono", monospace;
  color: #db6f1c;
  background-color: #1b1c1b;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: contextual;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #2781db;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media (pointer: coarse) and (max-width: 800px) {
  #links > li {
    padding: 0.2rem 0;
  }

  #links {
    font-size: 1em;
  }
}

@media (min-width: 1100px) and (max-height: 800px) {
  #para, #links {
    font-size: 1em;
    padding: 0.8rem 3rem;
  }

  h1 {
    font-size: 4em;
    padding: 3rem;
  }

  h2 {
    font-size: 2em;
    padding: 0 3rem 1.5rem 3rem;
  }

  #fun-list {
    font-size: 1rem;
    bottom: 1.5rem;
    left: 3rem;
    width: calc(100vw - 6rem);
  }
}

@media (min-width: 800px) and (min-height: 800px) {
  #para, #links {
    font-size: 1.2em;
    padding: 1rem 4rem;
  }

  h1 {
    font-size: 8em;
    padding: 4rem;
  }

  h2 {
    font-size: 4em;
    padding: 0 4rem 2rem 4rem;
  }

  #fun-list {
    font-size: 1rem;
    bottom: 2rem;
    left: 4rem;
    width: calc(100vw - 8rem);
  }
}
