      @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

      h1 {
        letter-spacing: 0;
        padding: 2rem;
        font-size: 4em;
      }
      h2 {
        font-size: 2em;
        padding: 0 2rem 1rem 2rem;
        letter-spacing: 0;
      }
      #para {
        font-size: 0.8em;
        padding: 0.5rem 2rem;
        white-space: nowrap;
      }
      #box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        color: #d6d8d6;
        /* grid-template-columns: 1.2fr 1fr; */
      }
      #links {
        font-size: 0.8em;
        padding: 0.5rem 2rem;
      }

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
} 

      ul {
        list-style-type: none;
      }


      body {
        font-family: "JetBrains Mono", "Fira Code", Monaco, Consolas, "Ubuntu Mono", monospace;
        /* background-color: #000000; 
        /* color: #00ff00; */
        /* color: #19d313; */
        color: #db6f1c;
        background-color: #1b1c1b;
      }

      a {
        color: #2781db;
      }

      html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }

@media (min-width: 800px) and (min-height: 800px) {
  #para, #links {
    font-size: 1.2em;
    padding: 1rem 4rem;
  }

  h1 {
        font-size: 8em;
        padding: 4rem;
  }

  h2 {
        font-size: 4em;
        padding: 0 4rem 2rem 4rem;
  }
}
