<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <meta property="og:title" content="aamaruvi's website: about"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://aamaruvi.com/about"/>
    <!-- <meta property="og:image" content="https://aamaruvi.com/static/og-image.png"/> -->
    <meta property="og:description" content="a personal look. about me."/>
    <link rel="stylesheet" href="/static/terminal.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>about: {{ title }}</title>
  </head>
  <body>
    <h1>Aamaruvi</h1>
    <a href="/">back home</a>
    <h2>Hi, about me</h2>
    <p>I'm heavily into technology. I use it all the time and look through the whole world in that mindset. No surprise that's my education path. I have many small projects in various areas and diciplines. Point being, I have experience in a huge breadth of computing and much more. Every project leaves me with new knowledge, ready for the next one.</p>
    <h2>TLDR</h2>
    <p>I'm 22 years old, have a BS in Computer Science from Georgia State University, love technology in general, and am an artist. I love working with people and know the extra consideration required for collaboration and community.</p>
    <h2>Contact?</h2>
    <p>see <a href="/contact">here</a></p>
    <h2>Ok what do you actually know?</h2>
    <h3>Programming</h3>
    <ul>
      <li>Rust - a forward thinking aproach to systems programming, and powers <a href="https://github.com/Technical27/website">this website</a></li>
      <li>Java - strong feelings, but I use it when its the right tool</li>
      <li>Python - good enough for almost anything and I think its alright</li>
      <li>C - familiar enough to program and contribute to projects</li>
      <li>C++ - less familiar than pure C but I do write C++ when required</li>
      <li>Web - standard HTML/CSS/JS and frameworks like React</li>
      <li>Node.js - love backend programming and JavaScript works well here</li>
    </ul>
    <h4>plus many others, I can pick up most programming since I have strong fundamental knowledge</h4>
    <h3>Networking</h3>
    <ul>
      <li>OPNsense - in production as my own internet and what you see this through</li>
      <li>Pysical - Ethernet/WiFi basics plus mediums like copper and the basics of SFP and fiber</li>
      <li>IPv6 - everyone has to contribute to move away, plus IPv4 is hilariously unsuitable today</li>
      <li>Firewalls/NAT - I learned this the hard way, but now I know almost everything</li>
      <li>MikroTik RouterOS - its on a switch, but its power gave me full bandwidth in an odd situation</li>
      <li>Cisco IOS - I have an old switch I messed around with</li>
    </ul>
    <h3>Sysadmin</h3>
    <ul>
      <li>Linux - many distributions from desktop operating systems to server environments</li>
      <li>Proxmox VE - running most services for a homelab stack</li>
      <li>File Sharing - CIFS/SMB/FTP/TFTP plus the cool project <a href="https://github.com/9001/copyparty">copyparty</a></li>
      <li>Docker - enough to know how it's networking works</li>
      <li>Filesystems - RAID/redundency levels plus features found in modern filesystems like BTRFS</li>
      <li>WireGuard - use it for a unified network</li>
    </ul>
    <h2>Hobbies?</h2>
    <h4>Sure, many more than just listed here!</h4>
    <ul>
      <li>Old Computers - looking at the origins can help on understand it's current state</li>
      <li>Cars - driving and tinkering</li>
      <li>Photography - the art equivalent of impostor syndrome</li>
      <li>Electronics - nice to mess around and get smarter at</li>
      <li>Physical Activity - not as much as I should do it, but I love it every time</li>
    </ul>
  </body>
</html>
