<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/unbtbl.css">
    <link rel="stylesheet" href="/static/test.css">
    <title>aamaruvi's website: art corner</title>
  </head>
  <body>
    <h1>The Art Space (Under Construction)</h1>
    but check out <a href="https://store.steampowered.com/app/2240620/UNBEATABLE/">UNBEATABLE</a>
    <div>
    <a href="/">back home</a>
    </div>
  </body>
</html>
