<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <meta property="og:title" content="aamaruvi's contact"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://aamaruvi.com/"/>
    <meta property="og:image" content="https://aamaruvi.com/static/og-image.png"/>
    <meta property="og:description" content="hi. you wanted to talk."/>
    <link rel="stylesheet" href="/static/terminal.css">
    <link rel="stylesheet" href="/static/test.css">
    <title>contact: {{ title }}</title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>this page will change as i finalize good forms of communication</p>
    <p>please contact through where we first met for the highest change of a response</p>
    <h2>Matrix</h2>
    <a id="mtx-link" href="about:blank">(at) yeetpro420 (colon) aamaruvi (dot) com</a>
    <h2>Email? </h2>
    <p>no, not until i sort it out, and to avoid the mass spam</p>
    <!-- if you are looking in here to bypass this, stop it and get some help you piece of shit -->
    <!-- i have this so bots don't just yoink the contact info out of this, sorry -->
    <script src="/static/contact.js"></script>
   </body>
</html>
