<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <meta property="og:title" content="aamaruvi's website"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://aamaruvi.com/"/>
    <meta property="og:image" content="https://aamaruvi.com/static/og-image.png"/>
    <meta property="og:description" content="the cool we lost from the early internet in the modern day. also my personal website."/>
    <link rel="stylesheet" href="/static/terminal.css">
    <link rel="stylesheet" href="/static/test.css">
    <title>aamaruvi's website: {{ title }}</title>
  </head>
  <body>
    <h1>Hi, welcome to my website</h1>
    <h2>Some quick areas</h2>
    <ul>
      <li><a href="/about">About</a> - find out more about me!</li>
    </ul>
    <h2>Cool showcases</h2>
    <ul>
      <li><a href="/art">Art - Mood Space</a></li>
      <li><a href="/car">Car - Parking Lot</a></li>
    </ul>
    <h2>Fun little things</h2>
    <ul id="fun-list">
      <li><a href="https://github.com/Technical27/website">check out the source code!</a></li>
      <li>under construction but this will have some cool things eventually <a href="/jail">;)</a></li>
      <!-- here be server added messages -->
      {% for msg in messages %}
      <li>{{ msg }}</li>
      {% endfor %}
      <!-- here be JS added messages -->
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.7.2/build/global/luxon.min.js"></script>
    <script src="/static/index.js"></script>
  </body>
</html>
