<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/index.css">
    <meta property="og:title" content="aamaruvi's website"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://aamaruvi.com/"/>
    <!-- <meta property="og:image" content="https://aamaruvi.com/static/og-image.png"/> -->
    <meta property="og:description" content="the cool we lost from the early internet in the modern day. also my personal website."/>
    <title>aamaruvi's website: {{ title }}</title>
  </head>
  <body>
    <h1 id="title"></h1>
    <h2 id="subtitle"></h2>
    <div id="box">
      <p id="para"></p>
      <ul id="links">
        <li><span id="link1"></span> <a href="/about"></a></li>
        <li><span id="link2"></span> <a href="/contact"></a></li>
        <li><span id="link3"></span> <a href="/blog"></a></li>
        <li><span id="link4"></span> <a href="/car"></a></li>
        <li><span id="link5"></span> <a href="/art"></a></li>
      </ul>
    </div>
    <span id="fun-list"><span>
    <script>const messages = {{ messages | json | safe }};</script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.7.2/build/global/luxon.min.js"></script>
    <script src="/static/index.js"></script>
  </body>
</html>
